<p>chart works!</p>
<div style="text-align:center">
    <apx-chart
      [series]="chart1options.series"
      [chart]="chart1options.chart"
      [xaxis]="chart1options.xaxis"
      [title]="chart1options.title"
    ></apx-chart>
    <apx-chart
      [series]="chart2options.series"
      [chart]="chart2options.chart"
      [xaxis]="chart2options.xaxis"
      [title]="chart2options.title"
    ></apx-chart>
    <apx-chart
    [series]="chart3options.series"
    [chart]="chart3options.chart"
    [xaxis]="chart3options.xaxis"
    [title]="chart3options.title"
  ></apx-chart>
  <apx-chart
    [series]="chart4options.series"
    [chart]="chart4options.chart"
    [xaxis]="chart4options.xaxis"
    [title]="chart4options.title"
  ></apx-chart>
  </div>