<div style="text-align:center">
  <apx-chart [series]="chartVoltageOptions.series" [chart]="chartVoltageOptions.chart" [xaxis]="chartVoltageOptions.xaxis"
    [title]="chartVoltageOptions.title"></apx-chart>
  <apx-chart [series]="chartCurrentOptions.series" [chart]="chartCurrentOptions.chart" [xaxis]="chartCurrentOptions.xaxis"
    [title]="chartCurrentOptions.title"></apx-chart>
  <apx-chart [series]="chartPowerOptions.series" [chart]="chartPowerOptions.chart" [xaxis]="chartPowerOptions.xaxis"
    [title]="chartPowerOptions.title"></apx-chart>
  <apx-chart [series]="chartEnergyOptions.series" [chart]="chartEnergyOptions.chart" [xaxis]="chartEnergyOptions.xaxis"
    [title]="chartEnergyOptions.title"></apx-chart>
  <apx-chart [series]="chartBrightnessOptions.series" [chart]="chartBrightnessOptions.chart" [xaxis]="chartBrightnessOptions.xaxis"
    [title]="chartBrightnessOptions.title"></apx-chart>
  <apx-chart [series]="chartTemperatureOptions.series" [chart]="chartTemperatureOptions.chart" [xaxis]="chartTemperatureOptions.xaxis"
    [title]="chartTemperatureOptions.title"></apx-chart>
  <apx-chart [series]="chartValueOptions.series" [chart]="chartValueOptions.chart" [xaxis]="chartValueOptions.xaxis"
    [title]="chartValueOptions.title"></apx-chart>
  <apx-chart [series]="chartSaturationOptions.series" [chart]="chartSaturationOptions.chart" [xaxis]="chartSaturationOptions.xaxis"
    [title]="chartSaturationOptions.title"></apx-chart>
  <apx-chart [series]="chartHueOptions.series" [chart]="chartHueOptions.chart" [xaxis]="chartHueOptions.xaxis"
    [title]="chartHueOptions.title"></apx-chart>
</div>