<div style="text-align:center">
  <apx-chart [series]="chartVoltageOptions.series" [chart]="chartVoltageOptions.chart" [xaxis]="chartVoltageOptions.xaxis" [yaxis]="chartVoltageOptions.yaxis"
    [title]="chartVoltageOptions.title"></apx-chart>
  <apx-chart [series]="chartCurrentOptions.series" [chart]="chartCurrentOptions.chart" [xaxis]="chartCurrentOptions.xaxis" [yaxis]="chartCurrentOptions.yaxis"
    [title]="chartCurrentOptions.title"></apx-chart>
  <apx-chart [series]="chartPowerOptions.series" [chart]="chartPowerOptions.chart" [xaxis]="chartPowerOptions.xaxis" [yaxis]="chartPowerOptions.yaxis"
    [title]="chartPowerOptions.title"></apx-chart>
  <apx-chart [series]="chartEnergyOptions.series" [chart]="chartEnergyOptions.chart" [xaxis]="chartEnergyOptions.xaxis" [yaxis]="chartEnergyOptions.yaxis"
    [title]="chartEnergyOptions.title"></apx-chart>
  <apx-chart [series]="chartBrightnessOptions.series" [chart]="chartBrightnessOptions.chart" [xaxis]="chartBrightnessOptions.xaxis" [yaxis]="chartBrightnessOptions.yaxis"
    [title]="chartBrightnessOptions.title"></apx-chart>
  <apx-chart [series]="chartTemperatureOptions.series" [chart]="chartTemperatureOptions.chart" [xaxis]="chartTemperatureOptions.xaxis" [yaxis]="chartTemperatureOptions.yaxis"
    [title]="chartTemperatureOptions.title"></apx-chart>
  <apx-chart [series]="chartSaturationOptions.series" [chart]="chartSaturationOptions.chart" [xaxis]="chartSaturationOptions.xaxis" [yaxis]="chartSaturationOptions.yaxis"
    [title]="chartSaturationOptions.title"></apx-chart>
  <apx-chart [series]="chartHueOptions.series" [chart]="chartHueOptions.chart" [xaxis]="chartHueOptions.xaxis" [yaxis]="chartHueOptions.yaxis"
    [title]="chartHueOptions.title"></apx-chart>
</div>