<article>
    <app-my-chart class="listing-chart"
    [parameters] = "this.parameters" >
    </app-my-chart>
    <section class="listing-description">
      <h2 class="listing-heading"> The bulb </h2>
      <p class="listing-location">{{ bulb?.id }}, {{ bulb?.id }}</p>
    </section>
    <section class="listing-features">
      <!-- <h2 class="section-heading">About this bulb</h2> -->
      <!-- <ul>
        <li>Units available: {{ bulb?.id }}</li>
        <li>Does this location have wifi: {{ bulb?.id }}</li>
        <li>Does this location have laundry: {{ bulb?.id }}</li>
      </ul> -->
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply now seting</h2>
        <form [formGroup]="brightnessForm" (submit)="submitBrightness()">
          <label for="brightness">Brightness</label>
          <input id="brightness" type="number" formControlName="brightness" min="1" max="100" />
          <button type="submit" class="primary">Apply now</button>
        </form>
    </section>
    <section class="listing-apply">
      <form [formGroup]="temperatureForm" (submit)="submitTemperature()">
          <label for="temperature">Temperature</label>
          <input id="temperature" type="number" formControlName="temperature" min="1" max="100" />
          <button type="submit" class="primary">Apply now</button>
        </form>
    </section>
    <section class="listing-apply">
      <form [formGroup]="colorForm" (submit)="submitColor()">
          <label for="hue">Hue</label>
          <input id="hue" type="number" formControlName="hue" min="1" max="100" />
          <label for="saturation">Saturation</label>
          <input id="saturation" type="number" formControlName="saturation" min="1" max="100" />
          <label for="value">Value</label>
          <input id="value" type="number" formControlName="value" min="1" max="100" />
          <button type="submit" class="primary">Apply now</button>
        </form>
      </section>
  </article>